In [14]:
import pandas as pd
import numpy as np
import pyodbc

In [4]:
def writeToPRISM(self, deleteStr, insertStr, database, server = 'DC01DAPP01'):

    self.conn = pyodbc.connect(
        'Driver={SQL Server Native Client 11.0};'
        'Server=' + server +';'
        'Database=' + database + ';'
        'Uid=appuser;pwd=Pm280947%;'
        )

SyntaxError: invalid syntax (Temp/ipykernel_22496/307373955.py, line 12)

In [30]:
server = 'DC01DAPP01'
database = 'TPT'
conn = pyodbc.connect(
    'Driver={SQL Server Native Client 11.0};'
    'Server=' + server +';'
    'Database=' + database + ';'
    'Uid=PrismExec;pwd=Pri$m2018%;'
    )
#'Uid=appuser;pwd=Pm280947%;'
inputs = ('2022-08-01',1,2,3,4,5,6,7,8), ('2022-08-02',1,2,3,4,5,6,7,8)

df = pd.DataFrame(data = inputs, columns=('SETTLEMENT_DATE','FUEL_COST','START_COST','VOM','REVENUE','MARGIN','EXERCISE_HOURS','PREMIUM','NET_SETTLEMENT'))

inputString = ','.join(["('%s',%i,%i,%i,%i,%i,%i,%i,%i)" % row for row in df.itertuples(index=False)])

inputStr = """INSERT INTO [TPT].[dbo].[ELGIN_HRCO_SETTLED_INFO] ([SETTLEMENT_DATE],[FUEL_COST],[START_COST],[VOM],[REVENUE],[MARGIN],[EXERCISE_HOURS],[PREMIUM],[NET_SETTLEMENT]) 
            VALUES """ + inputString#('2022-07-01',1,2,3,4,5,6,7,8), ('2022-07-02',1,2,3,4,5,6,7,8)"""


dt='2022-08-01'
fuel=1
strt=2
vom=3
rev=4
mrgn=5
hrs=6
prm=7
net=8



inputStr2 = """exec dbo.InsertElginHRCOSettlementDetails @dt=?,@fuel=?,@strt=?,@vom=?,@rev=?,@mrgn=?,@hrs=?,@prm=?,@net=?;"""

In [33]:
for i in inputs:
    print(i)

('2022-08-01', 1, 2, 3, 4, 5, 6, 7, 8)
('2022-08-02', 1, 2, 3, 4, 5, 6, 7, 8)

In [43]:
cursor = conn.cursor()

for i in df.itertuples():
    
    values = i[1:]
    
    cursor.execute(inputStr2, values)
    
    conn.commit()

cursor.close()

In [13]:
df

In [42]:
for iRow in df.itertuples():
    print(iRow[1:])

('2022-08-01', 1, 2, 3, 4, 5, 6, 7, 8)
('2022-08-02', 1, 2, 3, 4, 5, 6, 7, 8)

In [92]:
x = df.to_string(header=False,
                  index=False,
                  index_names=False).split('\n')
vals = [','.join(ele.split()) for ele in x]
print(vals)

AttributeError: 'DataFrame' object has no attribute 'split'

In [26]:
str1 = df.to_string(header=False, index=False, index_names=False).split('\n')
                  
str2 = ['('+','.join(ele.split())+')' for ele in str1]

str2

['(2022-08-01,1,2,3,4,5,6,7,8)', '(2022-08-02,1,2,3,4,5,6,7,8)']

In [126]:
inputString = ''
for row in df.itertuples(index=False):
    inputString = inputString + '('
    for item in row:
        inputString = inputString + str(item)+ ','
        print(inputString)
    inputString = inputString + ')'

TypeError: 'str' object is not callable

In [143]:
for row in df.itertuples(index=False):
    
    print("('%s',%i,%i,%i,%i,%i,%i,%i,%i)" % row)

('2022-07-01',1,2,3,4,5,6,7,8,)
('2022-07-02',1,2,3,4,5,6,7,8,)

NameError: name 'df' is not defined

In [149]:
inputString

"('2022-07-01',1,2,3,4,5,6,7,8),('2022-07-02',1,2,3,4,5,6,7,8)"

In [27]:
for iString in inputString:
    print(iString)

(
'
2
0
2
2
-
0
8
-
0
1
'
,
1
,
2
,
3
,
4
,
5
,
6
,
7
,
8
)
,
(
'
2
0
2
2
-
0
8
-
0
2
'
,
1
,
2
,
3
,
4
,
5
,
6
,
7
,
8
)